* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /* height: 400vh; */
}

header{
  height: 120VH;
  background-position: center TOP;
  background-image: url(../assets/images/portada.gif);
  background-repeat: no-repeat;
  background-size: auto 120vh;
  text-shadow: 1px 1px 2px RGBA(13,110,253);
}

header nav ul li ul{
  text-shadow: 0px 0px 0px #000;
}

header nav ul{
  text-shadow: 1px ;
}

.text-bg-transparent{
  background-color: transparent !important;
}

main{
  /* height: 300vh; */
}

main section{
  /* height: 100vh; */
}



.carousel-inner img {
  margin: auto;
}

.carousel-indicators{
  border: solid #000 0px !important;
  border-radius: 5px !important;
  height: 10px !important;
  /* background-color: rgb(48, 69, 187) !important; */
  left: 25% !important;
  width: 25% !important;
}

.carousel-indicators button {
  margin: 0 !important;
  width: 25%  !important;
  height: 10px  !important;
  border: 0px solid !important;
  border-radius: 5px !important;
  background-color: white !important;
  opacity: 0 !important;
}

.carousel-indicators .active{
  opacity: 1 !important;
  /* width: 30% !important; */
  height: 10px !important;
  border-radius: 6px !important;
  position: relative !important;
  top: -2px;
  height: 14px !important;


}

#products{
  height: 100vh;
}

.card{
  border-radius: 15px !important;
  box-shadow: 1px 1px 10px 1px rgb(0, 0, 0) !important;
}

.card img{
  border-radius: 15px;
}

footer{
  height: 20vh;
}

footer .row{
  --bs-gutter-x: 0 !important;
}

.footer-card{
  width: 375px;
  height: 250px;
}

#services{
  height: 150vh;
}

.card img{
  height: 30rem;
}


/* #index-body {
  height: 400vh;
  display: grid;
  grid-template-rows: 7fr 30fr 4fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#contacto-body
{
  height: 150vh;
  display: grid;
  grid-template-rows: 4fr 6fr 2fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

Styles Header

header {
  grid-area: header;
  height: 100%;
  background-image: url(../assets/images/ImagenDePortada.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3%;
}
header nav {
  background-color: aqua;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 7fr 1fr;
  grid-template-areas: " logo list redes ";
}

#NavLogo {
  grid-area: logo;
}
#HeaderLogo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#NavLogo a {
  text-decoration: none;
}
#HeaderLogo img {
  height: 50px;
  width: 50px;
}
#HeaderLogo h1 {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

#NavList {
  grid-area: list;
  height: 50px;
}
#NavList ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
#NavList ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  padding: 5px;
}

#NavRedes {
  grid-area: redes;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#NavRedes img {
  height: 30px;
  width: 30px;
}

MAIN
main {
  height: 100%;
  background-color: aqua;
  grid-area: main;
  display: grid;
  grid-template-rows: 1.25fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "apertura"
    "productos"
    "servicios";
}

#apertura {
  grid-area: apertura;
  background-color: brown;
  padding: 5%;
}

#transparencia {
  background-color: #000;
  opacity: 0.5;
  padding: 0 5% 0 5%;
  width: 100%;
  height: 100%;
}

#transparencia h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: white;
  font-size: 3rem;
}

#products {
  grid-area: productos;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo-impresoras {
  grid-area: title;
  font-size: 3rem;
}

#impresoras {
  grid-area: impresoras;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.imagenTitulada {
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  border: 2px #000 solid;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.imagenTitulada a h2 {
  font-size: 2rem;
}
.imagenTitulada a {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}

#impresoras img {
  height: 40vh;
  width: 40vh;
}

#services {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo-servicios {
  grid-area: title2;
  font-size: 3rem;
}

#servicios {
  grid-area: servicios;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

#servicios img {
  height: 40vh;
  width: 40vh;
}

footer {
  grid-area: footer;
  background-color: gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 3fr;
  grid-template-areas:
    "logo titulo . ."
    "logo of1 of2 newsletter";
}

#Titulo {
  grid-area: titulo;
}

#Titulo h1 {
  font-size: 2.5rem;
}

#FooterLogo {
  grid-area: logo;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FooterLogo img {
  width: 60px;
  height: 60px;
}

#oficina1 {
  grid-area: of1;
}

#oficina1 ul li {
  list-style-type: none;
}

#oficina2 {
  grid-area: of2;
}

#oficina2 ul li {
  list-style-type: none;
}

#newsletter {
  grid-area: newsletter;
}
 */