* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(180deg, #212550, #515473 50%, #dee2e6 100%); }

.logo img {
  height: 50px;
  width: 50px;
  color: white; }

header {
  height: 120vh;
  text-shadow: 1px 1px 2px #000;
  padding-top: 4rem !important;
  /*HEADER CARDS *******************************************/
  /*TITULO DE PAGINA *******************************************/
  /*SCROLL DOWN *******************************************/ }
  header .offcanvas {
    /* NAV *******************************************/ }
    header .offcanvas nav .menu__logo {
      display: block; }
    header .offcanvas nav .menu .offcanvas-body {
      background-color: transparent !important; }
    header .offcanvas ul {
      text-shadow: 1px; }
      header .offcanvas ul li {
        margin-left: 15px;
        margin-right: 15px; }
        header .offcanvas ul li ul {
          text-shadow: 0px 0px 0px #000; }
    header .offcanvas .redes {
      position: relative;
      right: 10px; }
  header .header__cards__item {
    margin-bottom: 2rem;
    width: 500px;
    height: 300px;
    background-color: rgba(33, 37, 80, 0.4);
    border-radius: 1rem; }
    header .header__cards__item h1 {
      font-size: 2.7rem;
      font-weight: 700; }
    header .header__cards__item p {
      font-size: 1rem; }
    header .header__cards__item a:hover {
      background-color: #aeb3f4 !important;
      color: black; }
  header .titulo {
    overflow: clip;
    animation: fadeInRight 0.6s ease-out; }
    header .titulo__principal {
      animation: fadeInRight 0.3s ease-out;
      position: relative; }
      header .titulo__principal h1 {
        font-size: 6rem !important;
        font-weight: 700; }
      header .titulo__principal h2 {
        white-space: nowrap;
        color: #aeb3f4;
        opacity: 0.1;
        font-size: 10rem;
        font-weight: 700;
        position: absolute;
        left: 0rem;
        top: -5rem;
        z-index: -2; }
    header .titulo h3 {
      font-size: 2rem;
      font-weight: 500; }
    header .titulo p {
      font-size: 1.2rem; }
    header .titulo a {
      color: white;
      background-color: #212550; }
      header .titulo a:hover {
        background-color: #aeb3f4;
        color: black; }
  header .srolldown {
    position: absolute;
    bottom: 0;
    left: 0; }
    header .srolldown p {
      margin: 0;
      padding: 0; }
    header .srolldown img {
      animation: scrollDown 2s infinite; }

/*GIF PORTADA INDEX *******************************************/
.header-gif {
  background-position: center TOP;
  background-image: url(../assets/images/portada.gif);
  background-repeat: no-repeat;
  background-size: auto 120vh; }

/*MEDIA QUERY *******************************************/
@media (max-width: 1178px) {
  .nav-item {
    margin: 0 !important; }
    .nav-item a {
      font-size: 1.12rem; } }

@media (max-width: 991.97px) {
  header nav .menu__logo {
    display: none; }
  header {
    text-shadow: 0px 0px 0px #000; }
    header .titulo__principal {
      position: relative; }
      header .titulo__principal h1 {
        font-size: 3rem !important;
        font-weight: 700; }
      header .titulo__principal h2 {
        color: #aeb3f4;
        opacity: 0.1;
        font-size: 5rem;
        font-weight: 700;
        position: absolute;
        left: 0rem;
        top: -2rem; }
    header .titulo h3 {
      font-size: 1.6rem;
      font-weight: 500; }
    header .titulo p {
      font-size: 1rem;
      width: 80%; }
    header .offcanvas .offcanvas-body {
      background-color: #aeb3f4 !important; }
  header .header__cards__item {
    width: 500px;
    height: 300px; }
    header .header__cards__item h1 {
      font-size: 1.75rem;
      font-weight: 600; }
    header .header__cards__item p {
      font-size: 0.9rem; } }

@media (max-width: 576px) {
  header .header__cards__item {
    height: auto; }
  header .titulo__principal {
    position: relative; }
    header .titulo__principal h1 {
      font-size: 3.5rem !important;
      font-weight: 700; }
    header .titulo__principal h2 {
      color: #aeb3f4;
      opacity: 0.1;
      font-size: 5.5rem;
      font-weight: 700;
      position: absolute;
      left: 0rem;
      top: -2rem; }
  header .titulo h3 {
    font-size: 1.6rem;
    font-weight: 500; }
  header .titulo p {
    font-size: 1rem;
    width: 100%; }
  header .srolldown p {
    margin-bottom: 0; }
  header .srolldown img {
    animation: scrollDown 2s infinite; } }

@keyframes scrollDown {
  0% {
    transform: translateY(10px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(10px); } }

@keyframes fadeInRight {
  0% {
    transform: translateX(20%);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

footer {
  height: 20vh; }
  footer .logo {
    transform: scale(1.3); }
  footer h1 {
    margin-bottom: 1rem; }
  footer ul {
    list-style: none; }
    footer ul li p {
      margin-bottom: 0.4rem; }

@media (max-width: 1200px) {
  footer .logo {
    transform: scale(1); } }

@media (max-width: 992px) {
  footer .logo {
    transform: scale(1.3); } }

.row {
  --bs-gutter-x: 0 !important; }

.contacto_header {
  height: fit-content;
  background-color: #212550; }

.btn-tertiary {
  background-color: #636ff2; }

main p {
  font-size: 0.95rem !important; }

main .main_titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start; }
  main .main_titulo h1 {
    color: white;
    font-size: 4rem;
    font-weight: 800;
    z-index: 2;
    margin-bottom: 0.5rem; }
  main .main_titulo hr {
    margin: 0;
    left: 10%;
    background-color: white;
    height: 5px;
    width: 50%; }

main #products .main_titulo {
  padding-left: 10%;
  align-items: start; }

main #services .main_titulo {
  align-items: end;
  padding-right: 10%; }

@media (max-width: 992px) {
  main h1 {
    font-size: 3rem;
    font-weight: 800; } }

@media (max-width: 768px) {
  main .main_titulo {
    align-items: start; }
    main .main_titulo h1 {
      font-size: 3rem; }
  main #products .main_titulo {
    align-items: center;
    margin: 0; }
  main #services .main_titulo {
    align-items: center;
    margin: 0; } }

.mainInsumos .producto {
  color: white; }
  .mainInsumos .producto img {
    height: 600px; }
  .mainInsumos .producto__texto {
    padding: 2%; }
    .mainInsumos .producto__texto h1 {
      font-size: 5rem;
      font-weight: 700; }
    .mainInsumos .producto__texto p {
      font-size: 1.25rem !important;
      font-weight: 400;
      text-shadow: 1px 1px 1px #aeb3f4; }

.mainInsumos__cotizacion {
  height: 30vh; }
  .mainInsumos__cotizacion div {
    background-color: rgba(33, 37, 80, 0.4); }
    .mainInsumos__cotizacion div h1 {
      font-size: 3rem;
      font-weight: 900; }
    .mainInsumos__cotizacion div a {
      background-color: #212550;
      color: white; }
      .mainInsumos__cotizacion div a:hover {
        background-color: #aeb3f4; }

@media (max-width: 1198.98px) {
  .mainInsumos .producto {
    color: white; }
    .mainInsumos .producto img {
      height: 200px; }
    .mainInsumos .producto__texto {
      padding: 2%; }
      .mainInsumos .producto__texto h1 {
        font-size: 2rem;
        font-weight: 700; }
      .mainInsumos .producto__texto p {
        font-size: 1rem !important;
        font-weight: 400;
        text-shadow: 1px 1px 1px #aeb3f4; }
  .mainInsumos__cotizacion div h1 {
    font-size: 2rem; } }

.ender3_header {
  height: 100vh; }
  .ender3_header .imagen_principal img {
    position: relative;
    left: -50px;
    height: 700px;
    z-index: -2; }

.main_ender3 .tag-carousel-ender3 {
  font-size: 2rem !important;
  text-shadow: 1px 1px 1px #aeb3f4; }

.main_ender3 .carousel-caption {
  position: static;
  display: flex;
  justify-content: center; }

.main_ender3 .section2__content__image img {
  height: 600px; }

.main_ender3 .section2__content__text h1 {
  font-size: 4rem;
  width: 80%; }

.main_ender3 .section2__content__text p {
  width: 75%; }

.main_ender3 .section3__titulo {
  padding-left: 10%; }
  .main_ender3 .section3__titulo h1 {
    font-size: 4rem;
    font-weight: 700; }

.main_ender3 .section3__contenido .row .caja {
  height: 35vh !important;
  margin-top: 6%;
  margin-bottom: 3%;
  height: 100%; }
  .main_ender3 .section3__contenido .row .caja__img img {
    position: relative;
    transform: scale(1.1);
    top: -20%;
    left: -25%;
    height: 400px !important; }
  .main_ender3 .section3__contenido .row .caja__titulo {
    position: relative;
    left: -10%;
    top: 5vh; }
    .main_ender3 .section3__contenido .row .caja__titulo h1 {
      font-weight: 700; }
    .main_ender3 .section3__contenido .row .caja__titulo p {
      font-size: 1.1rem !important; }

.purchase__contenido {
  display: flex;
  justify-content: center; }
  .purchase__contenido__box {
    padding-left: 4%;
    height: 40vh;
    width: 75%; }
    .purchase__contenido__box__imagen img {
      height: 40vh; }
    .purchase__contenido__box__descripcion {
      padding-left: 4%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .purchase__contenido__box__descripcion h2 {
        font-size: 3rem; }
    .purchase__contenido__box__precio {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .purchase__contenido__box__precio h2 {
        align-self: center;
        font-size: 4rem; }
      .purchase__contenido__box__precio p {
        align-self: center;
        font-size: 1.5rem; }
      .purchase__contenido__box__precio a {
        align-self: center;
        color: white;
        background-color: #636ff2; }
        .purchase__contenido__box__precio a:hover {
          background-color: #aeb3f4;
          color: black; }

@media (max-width: 1400px) {
  .ender3_header .imagen_principal img {
    height: 600px; }
  .main_ender3 .section2__content__text h1 {
    width: 100%; }
  .main_ender3 .section3__contenido .row .caja {
    height: 35vh; }
    .main_ender3 .section3__contenido .row .caja__img img {
      transform: scale(1.1);
      top: -10%;
      left: -15%;
      height: 300px !important; }
    .main_ender3 .section3__contenido .row .caja__titulo {
      top: 10%;
      left: -10%; }
      .main_ender3 .section3__contenido .row .caja__titulo p {
        font-size: 0.8rem !important; } }

@media (max-width: 1200px) {
  .ender3_header {
    height: 100vh; }
    .ender3_header .imagen_principal img {
      height: 500px; }
  .main_ender3 .section3__contenido .row .caja {
    height: 30vh; }
    .main_ender3 .section3__contenido .row .caja__img img {
      transform: scale(1.1);
      top: -10%;
      left: -15%;
      height: 250px !important; }
    .main_ender3 .section3__contenido .row .caja__titulo {
      position: relative;
      top: 10%;
      left: -15%; }
      .main_ender3 .section3__contenido .row .caja__titulo p {
        font-size: 0.7rem !important; }
  .purchase__contenido__box {
    width: 90%;
    padding-left: 2%; }
    .purchase__contenido__box__imagen img {
      height: 35vh; }
    .purchase__contenido__box__descripcion {
      padding-left: 2%; }
      .purchase__contenido__box__descripcion h2 {
        font-size: 2.5rem; }
    .purchase__contenido__box__precio h2 {
      align-self: center;
      font-size: 3rem; }
    .purchase__contenido__box__precio p {
      align-self: center;
      font-size: 1.5rem; } }

@media (max-width: 992px) {
  .main_ender3 .section3__contenido .row .caja {
    height: 30vh;
    width: 75%; }
    .main_ender3 .section3__contenido .row .caja__img img {
      transform: scale(1.1);
      top: -10%;
      left: -15%;
      height: 250px !important; }
    .main_ender3 .section3__contenido .row .caja__titulo {
      position: relative;
      top: 10%;
      left: -15%; }
      .main_ender3 .section3__contenido .row .caja__titulo p {
        font-size: 0.7rem !important; } }

@media (max-width: 768px) {
  .ender3_header .imagen_principal img {
    width: 300px;
    height: auto; }
  .main_ender3 .section1 h1 {
    font-size: 2rem; }
  .main_ender3 .section1 h2 {
    font-size: 1rem; }
  .main_ender3 .section2__content__image img {
    height: auto !important;
    width: 500px; }
  .main_ender3 .section2__content__text h1 {
    font-size: 2rem; }
  .main_ender3 .section3__contenido .row .caja__titulo h1 {
    font-size: 1.5rem; }
  .purchase__contenido__box {
    padding-left: 2%;
    height: fit-content; }
    .purchase__contenido__box__imagen {
      display: flex;
      justify-content: center; }
      .purchase__contenido__box__imagen img {
        height: 40vh; } }

@media (max-width: 580px) {
  .ender3_header {
    height: 100vh; }
    .ender3_header .imagen_principal img {
      position: static;
      width: 375px;
      height: auto; }
  .purchase__contenido__box__descripcion h2 {
    font-size: 1.5rem; }
  .purchase__contenido__box__descripcion p {
    font-size: 0.8rem; }
  .purchase__contenido__box__descripcion .tags p {
    font-size: 0.8rem; }
  .purchase__contenido__box__precio h2 {
    font-size: 2rem; }
  .purchase__contenido__box__precio p {
    align-self: center;
    font-size: 0.8rem; }
  .purchase__contenido__box__precio a {
    font-size: 0.8rem; }
  .main_ender3 .section1 h1 {
    font-size: 2rem; }
  .main_ender3 .section1 h2 {
    font-size: 1rem; }
  .main_ender3 .section2__content {
    flex-direction: column-reverse; }
    .main_ender3 .section2__content__image img {
      height: auto !important;
      width: 375px; }
    .main_ender3 .section2__content__text h1 {
      width: 75%;
      align-self: center;
      font-size: 2rem; }
    .main_ender3 .section2__content__text p {
      align-self: center; }
  .main_ender3 .section3__contenido .row .caja {
    height: 31vh; }
    .main_ender3 .section3__contenido .row .caja__img img {
      transform: scale(1);
      left: -50%;
      top: -5%; }
    .main_ender3 .section3__contenido .row .caja__titulo {
      position: relative;
      top: 7%;
      left: -15%; }
      .main_ender3 .section3__contenido .row .caja__titulo h1 {
        font-size: 1.5rem; }
      .main_ender3 .section3__contenido .row .caja__titulo p {
        font-size: 0.6rem; } }

.main_ender3S1 .section1 {
  height: 80vh;
  position: relative; }
  .main_ender3S1 .section1 #TextoSection2 {
    margin-left: 40%;
    position: relative;
    top: 10vh;
    width: 60%;
    padding-right: 20%;
    padding-left: 0%; }
  .main_ender3S1 .section1__texto {
    width: 60%;
    padding-left: 20%;
    color: white; }
    .main_ender3S1 .section1__texto h1 {
      font-size: 4rem; }
    .main_ender3S1 .section1__texto h2 {
      font-size: 2.5rem; }
    .main_ender3S1 .section1__texto p {
      font-size: 1.5rem !important; }
    .main_ender3S1 .section1__texto__iconos img {
      height: 40px; }
    .main_ender3S1 .section1__texto__iconos label {
      font-size: 0.8rem !important;
      font-weight: 700;
      color: black; }
  .main_ender3S1 .section1__imagen #imagenSection1 {
    position: absolute;
    top: -10vh;
    right: 0%;
    height: 80vh;
    z-index: -2; }
  .main_ender3S1 .section1__imagen #imagenSection2 {
    position: absolute;
    top: -20vh;
    left: 15%;
    height: 80vh;
    z-index: -2; }

.main_ender3S1 .section3__cuadro {
  color: white;
  height: 80vh; }
  .main_ender3S1 .section3__cuadro__izquierda {
    background-color: #212550;
    border-radius: 2vh; }
    .main_ender3S1 .section3__cuadro__izquierda__texto h1 {
      font-size: 6rem !important;
      margin-left: 5%;
      margin-top: 2%;
      margin-bottom: -2%;
      font-weight: 800; }
    .main_ender3S1 .section3__cuadro__izquierda__texto h2 {
      font-size: 1.5rem !important;
      margin-left: 5%; }
    .main_ender3S1 .section3__cuadro__izquierda__texto h3 {
      font-size: 0.8rem !important;
      margin-left: 5%; }
    .main_ender3S1 .section3__cuadro__izquierda img {
      height: 50vh; }
  .main_ender3S1 .section3__cuadro__derecha {
    justify-items: space-between; }
    .main_ender3S1 .section3__cuadro__derecha__arriba {
      position: relative;
      height: 35vh;
      background-color: #aeb3f4;
      border-radius: 2vh; }
      .main_ender3S1 .section3__cuadro__derecha__arriba__texto h1 {
        font-size: 6rem !important;
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: -2%;
        font-weight: 800; }
      .main_ender3S1 .section3__cuadro__derecha__arriba__texto h2 {
        font-size: 1.5rem !important;
        margin-left: 5%; }
      .main_ender3S1 .section3__cuadro__derecha__arriba__texto h3 {
        font-size: 0.8rem !important;
        margin-left: 5%; }
      .main_ender3S1 .section3__cuadro__derecha__arriba img {
        position: absolute;
        top: 15vh;
        right: 15%;
        height: 20vh; }
    .main_ender3S1 .section3__cuadro__derecha__abajo {
      position: relative;
      height: 35vh;
      margin-top: 10vh;
      background-color: #636ff2;
      border-radius: 2vh; }
      .main_ender3S1 .section3__cuadro__derecha__abajo__texto h1 {
        font-size: 6rem !important;
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: -2%;
        font-weight: 800; }
      .main_ender3S1 .section3__cuadro__derecha__abajo__texto h2 {
        font-size: 1.5rem !important;
        margin-left: 5%; }
      .main_ender3S1 .section3__cuadro__derecha__abajo__texto h3 {
        font-size: 0.8rem !important;
        margin-left: 5%; }
      .main_ender3S1 .section3__cuadro__derecha__abajo img {
        position: absolute;
        top: 15vh;
        right: 15%;
        height: 20vh; }

@media (max-width: 1400px) {
  .main_ender3S1 .section1__texto h1 {
    font-size: 3rem; }
  .main_ender3S1 .section1__texto h2 {
    font-size: 2rem; }
  .main_ender3S1 .section1__texto p {
    font-size: 1rem !important; }
  .main_ender3S1 .section1__texto__iconos img {
    height: 40px; }
  .main_ender3S1 .section1__texto__iconos label {
    font-size: 0.8rem !important; }
  .main_ender3S1 .section1__imagen #imagenSection1 {
    top: -8vh;
    height: 70vh; }
  .main_ender3S1 .section1__imagen #imagenSection2 {
    left: 10%;
    height: 80vh; } }

@media (max-width: 1200px) {
  .main_ender3S1 .section1__texto {
    width: 60%;
    padding-left: 10%; }
  .main_ender3S1 .section1__imagen #imagenSection1 {
    top: -6vh;
    height: 60vh; }
  .main_ender3S1 .section1__imagen #imagenSection2 {
    top: -10vh;
    height: 70vh; } }

@media (max-width: 992px) {
  .main_ender3S1 .section1__texto {
    width: 60%;
    padding-left: 5%; }
    .main_ender3S1 .section1__texto h1 {
      font-size: 2.5rem; }
    .main_ender3S1 .section1__texto h2 {
      font-size: 1.5rem; }
    .main_ender3S1 .section1__texto p {
      font-size: 0.8rem !important; }
    .main_ender3S1 .section1__texto__iconos label {
      font-size: 0.6; }
  .main_ender3S1 .section1__imagen #imagenSection1 {
    top: -6vh;
    height: 50vh; }
  .main_ender3S1 .section1__imagen #imagenSection2 {
    top: -10vh;
    height: 60vh; }
  .main_ender3S1 .section3__cuadro__izquierda img {
    height: 40vh; } }

@media (max-width: 768px) {
  .main_ender3S1 .section1 {
    height: fit-content;
    display: flex;
    flex-direction: column; }
    .main_ender3S1 .section1 #TextoSection2 {
      align-self: center;
      margin-left: 0%;
      position: relative;
      top: 0vh;
      width: 90%;
      padding-right: 0%;
      padding-left: 0%; }
    .main_ender3S1 .section1__texto {
      align-self: center;
      width: 90%;
      padding-left: 0%;
      margin-bottom: 5%; }
      .main_ender3S1 .section1__texto h1 {
        font-size: 2rem; }
      .main_ender3S1 .section1__texto h2 {
        font-size: 1.25rem; }
      .main_ender3S1 .section1__texto p {
        font-size: 0.8rem !important; }
      .main_ender3S1 .section1__texto__iconos img {
        height: 30px; }
      .main_ender3S1 .section1__texto__iconos label {
        font-size: 0.5; }
    .main_ender3S1 .section1__imagen {
      align-self: center;
      display: flex;
      justify-content: center; }
      .main_ender3S1 .section1__imagen #imagenSection1 {
        position: static;
        height: 40vh; }
      .main_ender3S1 .section1__imagen #imagenSection2 {
        position: static; }
  .main_ender3S1 .section3__cuadro__izquierda__texto h1 {
    font-size: 4rem !important; }
  .main_ender3S1 .section3__cuadro__izquierda__texto h2 {
    font-size: 1.5rem !important;
    margin-left: 5%; }
  .main_ender3S1 .section3__cuadro__izquierda__texto h3 {
    font-size: 0.8rem !important;
    margin-left: 5%; }
  .main_ender3S1 .section3__cuadro__izquierda img {
    height: 30vh; }
  .main_ender3S1 .section3__cuadro__derecha__arriba__texto h1 {
    font-size: 4rem !important; }
  .main_ender3S1 .section3__cuadro__derecha__arriba__texto h2 {
    font-size: 1.5rem !important;
    margin-left: 5%; }
  .main_ender3S1 .section3__cuadro__derecha__arriba__texto h3 {
    font-size: 0.8rem !important;
    margin-left: 5%; }
  .main_ender3S1 .section3__cuadro__derecha__arriba img {
    position: absolute;
    top: 15vh;
    right: 15%;
    height: 15vh; }
  .main_ender3S1 .section3__cuadro__derecha__abajo__texto h1 {
    font-size: 4rem !important; }
  .main_ender3S1 .section3__cuadro__derecha__abajo__texto h2 {
    font-size: 1.5rem !important;
    margin-left: 5%; }
  .main_ender3S1 .section3__cuadro__derecha__abajo__texto h3 {
    font-size: 0.8rem !important;
    margin-left: 5%; }
  .main_ender3S1 .section3__cuadro__derecha__abajo img {
    right: 5%;
    height: 20vh; } }

@media (max-width: 580px) {
  .main_ender3S1 .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main_ender3S1 .section3__cuadro {
      flex-direction: column;
      height: fit-content; }
      .main_ender3S1 .section3__cuadro__izquierda {
        position: relative;
        align-self: center;
        height: 30vh;
        width: 75%; }
        .main_ender3S1 .section3__cuadro__izquierda__texto h1 {
          font-size: 3rem !important; }
        .main_ender3S1 .section3__cuadro__izquierda__texto h2 {
          font-size: 1rem !important;
          margin-left: 5%; }
        .main_ender3S1 .section3__cuadro__izquierda__texto h3 {
          font-size: 0.6rem !important;
          margin-left: 5%; }
        .main_ender3S1 .section3__cuadro__izquierda img {
          position: absolute;
          top: 10vh;
          right: 12%;
          height: 20vh; }
      .main_ender3S1 .section3__cuadro__derecha {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-self: center;
        width: 75%; }
        .main_ender3S1 .section3__cuadro__derecha__arriba {
          position: relative;
          height: 30vh;
          margin-bottom: 5%;
          margin-top: 5%; }
          .main_ender3S1 .section3__cuadro__derecha__arriba__texto h1 {
            font-size: 4rem !important; }
          .main_ender3S1 .section3__cuadro__derecha__arriba__texto h2 {
            font-size: 1.5rem !important;
            margin-left: 5%; }
          .main_ender3S1 .section3__cuadro__derecha__arriba__texto h3 {
            font-size: 0.8rem !important;
            margin-left: 5%; }
          .main_ender3S1 .section3__cuadro__derecha__arriba img {
            position: absolute;
            top: 15vh;
            right: 15%;
            height: 15vh; }
        .main_ender3S1 .section3__cuadro__derecha__abajo {
          position: relative;
          height: 30vh;
          margin-top: 0; }
          .main_ender3S1 .section3__cuadro__derecha__abajo__texto h1 {
            font-size: 4rem !important; }
          .main_ender3S1 .section3__cuadro__derecha__abajo__texto h2 {
            font-size: 1.5rem !important;
            margin-left: 5%; }
          .main_ender3S1 .section3__cuadro__derecha__abajo__texto h3 {
            font-size: 0.8rem !important;
            margin-left: 5%; }
          .main_ender3S1 .section3__cuadro__derecha__abajo img {
            right: 5%;
            top: 10vh;
            height: 20vh; } }

.card {
  border-radius: 15px !important;
  box-shadow: 2px 2px 10px 1px black !important;
  background-color: #636ff2; }
  .card__link {
    text-decoration: none;
    border-radius: 15px !important; }
    .card__link img {
      border-radius: 15px;
      width: 100%; }
    .card__link h2 {
      color: white;
      font-weight: 700; }
    .card__link img {
      animation: unblurProgressive 0.75s forwards; }
    .card__link__text {
      display: none;
      position: absolute;
      top: 80px;
      left: 0;
      padding: 0; }
      .card__link__text ul {
        width: 75%;
        padding-left: 0;
        list-style: none; }
        .card__link__text ul li {
          text-shadow: 1px 1px 1px #000; }
          .card__link__text ul li h3 {
            font-size: 1.5rem;
            font-weight: 400; }
          .card__link__text ul li p {
            font-size: 0.8rem;
            font-weight: 300; }
          .card__link__text ul li hr {
            height: 3px;
            background-color: black; }
    .card__link:hover {
      color: white; }
      .card__link:hover img {
        animation: blurProgressive 0.5s forwards; }
      .card__link:hover .card__link__text {
        display: flex;
        justify-content: center; }

.card_servicio {
  color: white; }
  .card_servicio img {
    transition: 1s;
    transform: scale(0.5); }
    .card_servicio img:hover {
      transition: 1s;
      transform: scale(0.75); }
  .card_servicio h2 {
    color: white;
    font-weight: 700; }
  .card_servicio p {
    font-size: 0.8rem;
    font-weight: 300; }

.mainInsumos .card img {
  height: 30vh; }

.mainInsumos .card h1 {
  font-size: 1rem; }

@keyframes blurProgressive {
  0% {
    filter: blur(0); }
  100% {
    filter: blur(8px); } }

@keyframes unblurProgressive {
  100% {
    filter: blur(0); }
  0% {
    filter: blur(8px); } }

#carouselMainIndex .carousel-indicators {
  border: solid #000 0px !important;
  border-radius: 5px !important;
  height: 10px !important;
  left: 25% !important;
  width: 25% !important; }
  #carouselMainIndex .carousel-indicators button {
    margin: 0 !important;
    width: 25%  !important;
    height: 10px  !important;
    border: 0px solid !important;
    border-radius: 5px !important;
    background-color: #aeb3f4 !important;
    opacity: 0 !important; }
  #carouselMainIndex .carousel-indicators .active {
    opacity: 1 !important;
    height: 10px !important;
    border-radius: 6px !important;
    position: relative !important;
    top: -2px;
    height: 14px !important; }

#carouselMainIndex .carousel-inner img {
  margin: auto; }

@media (max-width: 768px) {
  #carouselMainIndex {
    display: none; } }

.dropdown-menu .dropdown-item {
  transition: transform 2s ease-out; }
  .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    transform: translate(30px); }

.text-bg-transparent {
  background-color: transparent !important; }

.text-bg-primary {
  background-color: #212550 !important; }

.text-bg-primary-40 {
  background-color: rgba(33, 37, 80, 0.4) !important; }

.text-bg-primary-80 {
  background-color: rgba(33, 37, 80, 0.8) !important; }

.text-bg-secondary {
  background-color: #aeb3f4 !important; }

.text-bg-secondary-40 {
  background-color: rgba(174, 179, 244, 0.4) !important; }

.text-bg-tertiary {
  background-color: #636ff2 !important; }

.text-bg-tertiary-40 {
  background-color: rgba(99, 111, 242, 0.4) !important; }

.text-bg-cautro {
  background-color: #515473 !important; }

.text-bg-cautro-40 {
  background-color: rgba(81, 84, 115, 0.4) !important; }

.text-bg-quinto {
  background-color: #4e58bf; }

.text-bg-quinto-40 {
  background-color: rgba(78, 88, 191, 0.4); }
