@import "utilities/variables";

@import "globals/reset";

@import "layout/header";
@import "layout/footer";
@import "layout/grid";

@import "views/contacto";
@import "views/home";
@import "views/productos";
@import "views/insumos";
@import "views/ender3";

@import "components/card";
@import "components/carousel";
@import "components/dropdown";




  .text-bg-transparent{
    background-color: transparent !important;
  }

  .text-bg-primary{
    background-color: $bg-color-primary !important;
  }

  .text-bg-secondary{
    background-color: $bg-color-secondary !important;
  }
  
  .text-bg-tertiary{
    background-color: $bg-color-tertiary !important;
  }
