@import "utilities/variables";


@import "layout/header";
@import "layout/footer";
@import "layout/grid";

@import "views/contacto";
@import "views/ServicioDeImpresion";
@import "views/home";
@import "views/productos";
@import "views/insumos";
@import "views/ender3V2";
@import "views/ender3";
@import "views/ender3S1";

@import "components/card";
@import "components/carousel";
@import "components/dropdown";

@import "globals/reset";



  .text-bg-transparent{
    background-color: transparent !important;
  }

  .text-bg-primary{
    background-color: $bg-color-primary !important;
  }

  .text-bg-primary-40{
    background-color: $bg-color-primary-40 !important;
  }

  .text-bg-primary-80{
    background-color: $bg-color-primary-80 !important;
  }

  .text-bg-secondary{
    background-color: $bg-color-secondary !important;
  }

  .text-bg-secondary-40{
    background-color: $bg-color-secondary-40 !important;
  }
  
  .text-bg-tertiary{
    background-color: $bg-color-tertiary !important;
  }

  .text-bg-tertiary-40{
    background-color: $bg-color-tertiary-40 !important;
  }

  .text-bg-cautro{
    background-color: $bg-color-cautro !important;
  }

  .text-bg-cautro-40{
    background-color: $bg-color-cautro-40 !important;
  }

  .text-bg-quinto{
    background-color: $bg-color-quinto;
  }

  .text-bg-quinto-40{
    background-color: $bg-color-quinto-40;
  }