$bg-color-primary: rgba(33,37,80,1);
$bg-color-primary-40: rgba(33,37,80,0.4);
$bg-color-primary-80: rgba(33,37,80,0.8);
$bg-color-secondary: rgba(174,179,244,1);
$bg-color-secondary-40: rgba(174,179,244,0.4);
$bg-color-tertiary: rgba(99,111,242,1);
$bg-color-tertiary-40: rgba(99,111,242,0.4);
$bg-color-cautro: rgba(81,84,115,1);
$bg-color-cautro-40: rgba(81,84,115,0.4);;
$bg-color-quinto: rgba(78,88,191,1);
$bg-color-quinto-40: rgba(78,88,191,0.4);

