$bg-color-primary: rgba(33,37,80,1);
$bg-color-primary-40: rgba(33,37,80,0.4);
$bg-color-secondary: rgba(174,179,244,1);
$bg-color-tertiary: rgba(99,111,242,1);
$bg-color-cautro: rgba(81,84,115,1);
$bg-color-quinto: rgba(78,88,191,1);

