footer{
    height: 20vh;

    .logo{
      transform: scale(1.3);
    }
    
    h1{
      margin-bottom: 1rem;
    }
    ul{
      list-style: none;
      li{
        p{
          margin-bottom: 0.4rem;
        }

      }
    }
  }

  @media (max-width: 1200px){
    footer{

      .logo{
        transform: scale(1);
      }
    }

  }
@media (max-width: 992px){
  footer{

    .logo{
      transform: scale(1.3);
    }
  }

}