footer{
    height: 20vh;

    .logo{
      transform: scale(1.3);
    }
    
    h1{
      margin-bottom: 1rem;
    }
    ul{
      list-style: none;
      li{
        p{
          margin-bottom: 0.4rem;
        }

      }
    }
  }


@media (min-width: 992px){
    #newsletter{
      width: 100% !important;
    }
  }