header{
    height: 120vh;
    text-shadow: 1px 1px 2px #000;
    padding-top: 4rem !important;

    .offcanvas{

      
      /* NAV *******************************************/
      nav{
        .menu{
          &__logo{
            display: block;
          }
          .offcanvas
          {
            &-body {
              // flex-direction: row;
              background-color: transparent !important;
              }

          }
          }
        }
        
        ul{
          text-shadow: 1px;
          
          li{
            margin-left: 15px;
            margin-right: 15px;  
              ul{
                text-shadow: 0px 0px 0px #000;
              }
          }
        }

        .redes{
          position: relative;
          right: 10px;
        }
    } 

    /*HEADER CARDS *******************************************/

    .header__cards{
      &__item
      {
          margin-bottom: 2rem;
          width: 500px;
          height: 300px; 
          background-color: $bg-color-primary-40;
          border-radius: 1rem;
          h1{
            font-size: 2.7rem;
            font-weight: 700;
          }
          p{
            font-size: 1rem;
          }
          a{
            &:hover{
              background-color: $bg-color-secondary !important;
              color: black;
            }
          }
        }
    }

    /*TITULO DE PAGINA *******************************************/

    .titulo{
      overflow: clip;
      animation: fadeInRight 0.6s ease-out;
      
      &__principal{
          animation: fadeInRight 0.3s ease-out;
          position: relative;
          
          h1{
            font-size: 6rem !important;
            font-weight: 700;
          }
          h2{
            white-space: nowrap;
            color: $bg-color-secondary;
            opacity: 0.1;
            font-size: 10rem;
            font-weight: 700;
            position: absolute;
            left: 0rem;
            top:-5rem;
            z-index: -2;
          }
        }
      h3{
        font-size: 2rem;
        font-weight: 500;
      }
      p{
          font-size: 1.2rem;
      }
      a{
          color: white;
          background-color: $bg-color-primary;
          &:hover{
              background-color: $bg-color-secondary;
              color: black;
          }
      }
  }

  /*SCROLL DOWN *******************************************/
    

  .srolldown{
    position: absolute;
    bottom: 0;
    left:0;
    p{
      margin:0;
      padding: 0;
    }
    img
    {
      animation: scrollDown 2s infinite;
    }
  }
  
}

/*GIF PORTADA INDEX *******************************************/

.header-gif{
  background-position: center TOP;
  background-image: url(../assets/images/portada.gif);
  background-repeat: no-repeat;
  background-size: auto 120vh;
}

/*MEDIA QUERY *******************************************/

@media (max-width: 1178px){
  .nav-item{
    margin: 0 !important;
    a{
      font-size: 1.12rem;
    } 
  }
  
}

@media (max-width: 991.97px){
  
  header nav .menu__logo{
    display: none;
  }

  header{
    text-shadow: 0px 0px 0px #000;
    .titulo{
      &__principal{
          position: relative;

          h1{
              font-size: 3rem !important;
              font-weight: 700;
          }
          h2{
              color: $bg-color-secondary;
              opacity: 0.1;
              font-size: 5rem;
              font-weight: 700;
              position: absolute;
              left: 0rem;
              top:-2rem;
          }
        }
        h3{
          font-size: 1.6rem;
          font-weight: 500;
        }
        p{
          font-size: 1rem;
          width: 80%;
        }
      }

  .offcanvas .offcanvas-body {
    // flex-direction: row;
    background-color: $bg-color-secondary !important;
  }
}

  header .header__cards{
    &__item{
      width: 500px;
      height: 300px;
      h1{
        font-size: 1.75rem;
        font-weight: 600;
      }
      p{
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 576px){
    header{
      .header__cards{
        &__item
        {
          height: auto;
        }
      }
      .titulo{
        &__principal{
            position: relative;
  
            h1{
                font-size: 3.5rem !important;
                font-weight: 700;
            }
            h2{
                color: $bg-color-secondary;
                opacity: 0.1;
                font-size: 5.5rem;
                font-weight: 700;
                position: absolute;
                left: 0rem;
                top:-2rem;
            }
          }
          h3{
            font-size: 1.6rem;
            font-weight: 500;
          }
          p{
            font-size: 1rem;
            width: 100%;
          }
        }

      .srolldown{
        p{
          margin-bottom: 0;
        }
        img
        {
          animation: scrollDown 2s infinite;
        }
      }


    }
}

  

  @keyframes scrollDown
  {

    0% {
      transform: translateY(10px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(10px);
    }

  }

  @keyframes fadeInRight{
    0% {
      transform: translateX(20%);
      opacity: 0;
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }  
  }