*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, $bg-color-primary, $bg-color-cautro 50%, rgba(222,226,230,1) 100%);
    // background: linear-gradient(180deg, rgba(33,37,41,1) 0%, rgba(173,181,189,1) 91%, rgba(233,236,239,1) 100%);
}


.logo{
    img{
      height: 50px;
      width: 50px;
      color: white;
    }
  }