.main_ender3V2{


    .section1{
        height: 80vh;
        position: relative;
        #TextoSection2{
            margin-left: 40%;
            position: relative;
            top: 10vh;
            width: 60%;
            padding-right: 20%;
            padding-left: 0%;
        }
        &__texto{
            width: 60%;
            padding-left: 20%;
            color: white;
            h1{
                font-size: 4rem;
            }
            h2{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.5rem !important;
            }
            &__iconos{
                img{
                    height: 40px;
                    position: relative;
                    left :5px;
                }
                label{
                    font-size: 0.8rem !important;
                    font-weight: 700;
                    color: black;
                }
            }

        }
        &__imagen{
            #imagenSection1{
                position: absolute;
                top:-10vh;
                right: 0%;
                height: 80vh;
                z-index: -2;
            }
            #imagenSection2{
                position: absolute;
                top:-10vh;
                left: 3%;
                height: 80vh;
                z-index: -2;
            }

        }
    }

    .section3{

        &__titulo{
            padding-left: 10%;
            h1{
                font-size: 4rem;
                font-weight: 700;
            }

        }
        &__contenido{
            .row{
                .caja{
                    height: 35vh!important;
                    margin-top: 6%;
                    margin-bottom: 3%;
                    height: 100%;
                    // background-color: red !important;
                    &__img{
                        img{
                            position: relative;
                            transform: scale(1.1);
                            top: -20%;
                            left: -25%;
                            height: 400px !important;
                        }
                    }
                    &__titulo{
                        position: relative;
                        left: -10%;
                        top: 5vh;
                        h1{
                            font-weight: 700;
                        }
                        p{
                            font-size: 1.1rem !important;
                        }
                    }
                }
            }
        }

    }

}

@media (max-width: 1400px){
    .main_ender3V2{
        .section1{
            &__texto{
                h1{
                    font-size: 3rem;
                }
                h2{
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem !important;
                }
                &__iconos{
                    img{
                        height: 40px;
                    }
                    label{
                        font-size: 0.8rem !important;
                    }
                }
            }
            &__imagen{
                #imagenSection1{
                    top:-8vh;
                    height: 70vh;
                }
                #imagenSection2{
                    left: 10%;
                    height: 80vh;
                }
    
            }
        }
        .section3{
            &__contenido{
                .row{
                    .caja{
                        height: 35vh;
                        // background-color: red !important;
                        &__img{
                            img{
                                transform: scale(1.1);
                                top: -10%;
                                left: -15%;
                                height: 300px !important;
                            }
                        }
                        &__titulo{
                            top: 10%;
                            left: -10%;
                            p{
                                font-size: 0.8rem !important;
                            }
                        }
                    }
                }
            }
    
        }
    }
} 

@media (max-width: 1200px){
    .main_ender3V2{
        .section1{
            &__texto{
                width: 60%;
                padding-left: 10%;
            }
            &__imagen{
                #imagenSection1{
                    top:-6vh;
                    height: 60vh;
                }
                #imagenSection2{
                    top:-10vh;
                    left: 0;
                    height: 70vh;
                }
    
            }
        }
        .section3{
            &__contenido{
                .row{
                    .caja{
                        height: 30vh;
                        &__img{
                            img{
                                transform: scale(1.1);
                                top: -10%;
                                left: -15%;
                                height: 250px !important;
                            }
                        }
                        &__titulo{
                            position: relative;
                            top: 10%;
                            left: -15%;
                            p{
                                font-size: 0.7rem !important;
                            }
                        }
                    }
                }
            }
    
        }
    }

}

@media (max-width: 992px){
    .main_ender3V2{
        .section1{
            &__texto{
                width: 60%;
                padding-left: 5%;
                h1{
                    font-size: 2.5rem;
                }
                h2{
                    font-size: 1.5rem;
                }
                p{
                    font-size: 0.8rem !important;
                }
                &__iconos{
                    img{
                    }
                    label{
                        font-size: 0.6;
                    }
                }
            }
            &__imagen{
                #imagenSection1{
                    top:-6vh;
                    height: 50vh;
                }
                #imagenSection2{
                    top:-5vh;
                    left: 0;
                    height: 60vh;
                }
    
            }
        }
        .section3{
            &__contenido{
                .row{
                    .caja{
                        height: 30vh;
                        width: 75%;
                        &__img{
                            img{
                                transform: scale(1.1);
                                top: -10%;
                                left: -15%;
                                height: 250px !important;
                            }
                        }
                        &__titulo{
                            position: relative;
                            top: 10%;
                            left: -15%;
                            p{
                                font-size: 0.7rem !important;
                            }
                        }
                    }
                }
            }
    
        }
    }

}

@media (max-width: 768px){
    .main_ender3V2{
        .section1{
            height: fit-content;
            display: flex;
            flex-direction: column;
            #TextoSection2{
                align-self: center;
                margin-left: 0%;
                position: relative;
                top: 0vh;
                width: 90%;
                padding-right: 0%;
                padding-left: 0%;
            }
            &__texto{
                align-self: center;
                width: 90%;
                padding-left: 0%;
                margin-bottom: 5%;
                h1{
                    font-size: 2rem;
                }
                h2{
                    font-size: 1.25rem;
                }
                p{
                    font-size: 0.8rem !important;
                }
                &__iconos{
                    img{
                        height: 30px;
                    }
                    label{
                        font-size: 0.5;
                    }
                }
            }
            &__imagen{
                align-self: center ;
                display: flex;
                justify-content: center;
                #imagenSection1{
                    position: static;
                    height: 40vh;
                }
                #imagenSection2{
                    position: static;
                }
    
            }
        }
        .section3{
            &__contenido{
                .row{
                    .caja{
                        &__titulo{
                            h1{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
    
        }
    }

}

@media (max-width: 580px){
    .main_ender3V2{
        .section3{
            &__contenido{
                .row{
                    .caja{
                        height: 31vh;
                        &__img{
                            img{
                                transform: scale(1);
                                left: -50%;
                                top: -5%
                            }
                        }
                        &__titulo{
                            position: relative;
                            top: 7%;
                            left: -15%;
                            h1{
                                font-size: 1.5rem;
                            }
                            p{
                                font-size: 0.6rem;
                            }
                        }
                    }
                }
            }
    
        }
    }
    
}