.insumos_header{
    
    &__titulo{
        h1{
            font-size: 6rem !important;
        }
        p{
            font-size: 2rem;
        }
        a{
            color: white;
            background-color: $bg-color-primary;
            &:hover{
                background-color: $bg-color-secondary;
                color: black;
            }
        }
    }
}


.mainInsumos{
    div{
        img{
            height: 60vh;
        }
    }
    &__cotizacion{
        height: 30vh;
        div 
        {
            background-color: $bg-color-primary-40;
            h1{
                font-weight: 900;
            }
            a{
                background-color: $bg-color-primary;
                height: 60%;
                color: white;
                &:hover{
                    background-color: $bg-color-secondary;
                }

            }
        }
    }

}

