.mainInsumos{
    overflow: hidden;
    .producto{
        color: white;
        img{
            width: 600px;
        }
        &__texto{
            h1{
                font-size: 5rem;
                font-weight: 700;
            }
            p{
                font-size: 1.25rem !important;
                font-weight: 400;
                text-shadow: 1px 1px 1px $bg-color-secondary;
            }
        }
    }
    &__cotizacion{
        height: 30vh;
        div 
        {
            background-color: $bg-color-primary-40;
            h1{
                font-size: 3rem;
                font-weight: 900;
            }
            a{
                background-color: $bg-color-primary;
                color: white;
                &:hover{
                    background-color: $bg-color-secondary;
                }

            }
        }
    }

}

@media (max-width:  992px){
    .mainInsumos{
        .producto{
            img{
                width: 300px;
            }
            &__texto{
                h1{
                    font-size: 3rem;
                }
                p{
                    font-size: 1rem !important;
                }
            }
            
        }
        &__cotizacion{
            div 
            {
                h1{
                    font-size: 2rem;
                }
            }
        }
    }
}


@media (max-width:  576px){
    .mainInsumos{
        .producto{
            img{
                width: 250px;
            }
            &__texto{
                h1{
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem !important;
                }
            }
            
        }
        &__cotizacion{
            div 
            {
                h1{
                    font-size: 1rem;
                }
            }
        }
    }
}
