.mainInsumos{

    .producto{
        color: white;
        img{
            height: 600px;
        }
        &__texto{
            padding: 2%;
            h1{
                font-size: 5rem;
                font-weight: 700;
            }
            p{
                font-size: 1.25rem !important;
                font-weight: 400;
                text-shadow: 1px 1px 1px $bg-color-secondary;
            }
        }
    }
    &__cotizacion{
        height: 30vh;
        div 
        {
            background-color: $bg-color-primary-40;
            h1{
                font-size: 3rem;
                font-weight: 900;
            }
            a{
                background-color: $bg-color-primary;
                color: white;
                &:hover{
                    background-color: $bg-color-secondary;
                }

            }
        }
    }

}

@media (max-width:  1198.98px){
    .mainInsumos{
        .producto{
            color: white;
            img{
                height: 200px;
            }
            &__texto{
                padding: 2%;
                h1{
                    font-size: 2rem;
                    font-weight: 700;
                }
                p{
                    font-size: 1rem !important;
                    font-weight: 400;
                    text-shadow: 1px 1px 1px $bg-color-secondary;
                }
            }
            
        }
        &__cotizacion{
            div 
            {
                h1{
                    font-size: 2rem;
                }
            }
        }
    }
}

