.ServiciosMain{
    .Trabajos{
        h1{
            font-size: 6rem;
            font-weight: 800;
        }
        &__Muestras
        {
            &__Imagenes{
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                img{
                    border-radius: 2vh;
                    height: 300px !important;
                    width: 300px;
                }
            }
        }
    
    }

    .materiales{
        &__PLA{
            img{
                height: 20vh;
            }
            &__texto{
                h1{
                    font-size: 3rem;
                    font-weight: 700;
                }
                p{
                    font-size: 1rem !important;
                    font-weight: 500;
                }

            }
        }
    }
    .Servicio{
        height: 120vh;
        position: relative;
        overflow: hidden;
    }
    .ServicioTexto{
        background-color: rgba(0,0,0,0.6);
        display: flex;
        align-items: center;
        height: 100vh !important;
        padding: 2%;
        h1{
            align-self: center;
            font-size: 6rem;
            color: white;
            font-weight: 800;
            width: 75%;
        }
        p{
            align-self: center;
            font-size: 1.5rem!important;
            color: white;
            width: 75%;
            
        }
        a{
            align-self: center;
            font-size: 1.5rem!important;
            color: white;
            width: fit-content;
        }
    }
    .ServicioImagen{
        width: 100%;
        position: relative;
        img{
            height: 100vh;
            position: absolute;
            bottom:0px;
            z-index: -2;
        }
    }

}


@media (max-width: 1400px){

} 

@media (max-width: 1200px){
    .ServiciosMain{
        
        .ServicioTexto{
            h1{
                font-size: 5rem !important;
            }
            p{
                font-size: 1rem !important;
                color: white;
                
            }
        }
    }
}

@media (max-width: 992px){
}

@media (max-width: 768px){


}

@media (max-width: 580px){
    .ServiciosMain{
        
        .ServicioTexto{
            h1{
                font-size: 4rem !important;
            }
            p{
                font-size: 1rem !important;
                color: white;
            }
            a{
                font-size: 1rem !important;
            }
        }
    }
}
